* {
  margin: 0;
  padding: 0;
}
section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  
}
.cards {
  width: 350px;
  height: 350px;
  padding: 20px;
  border-radius: 80px;


}
.cards:hover {
  border-radius: 10px;
  cursor: pointer;
}
.image_box img {
  width: 350px;
  height: 800px;
 
}

.image_box img {
  width: 250px;
  height: 200px;
}
.image_box img:hover {
 transition:2s;
}
.details p:nth-child(1) {
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.details p:nth-child(2) {
  color: grey;
  font-size: 0.8rem;
}
.details p:nth-child(3) {
  font-weight: bolx;
  color: grey;
}
.details button {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color:black;
  color:white;
  outline: none;
  cursor: pointer;

  
}
